<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ssendhil.ease_e">

    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:screenOrientation="portrait"
        android:gravity="center"
        android:configChanges="keyboardHidden|orientation"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.ssendhil.ease_e.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.ssendhil.ease_e.Outreach"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_outreach"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity android:name="com.example.ssendhil.ease_e.Settings"></activity>
    </application>

</manifest>